in-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: rgb(255, 0, 0);;
}

.btn{
    padding:10px 15px;
    margin-right: 35px;
    border: 8px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(51, 0, 255);;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}

/* @media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: center;
    }

    .topleft,
    .topright {
        width: 100%; 
        text-align: center; 
    }

    .box {
        min-width: 90vw; 
    }
} */